.config/foot/colors.ini
.config/waybar/colors.css
.config/rofi/colors.rasi
.config/mango/theme.conf
.config/mako/config
.config/cava/config
.config/swayosd/style.css
.config/swaylock/config
.config/yazi/
.config/btop/themes/current.theme
.config/nvim/lua/plugins/theme.lua
.config/fish
.config/themes/*/backgrounds/
.config/themes/*/unlock.png
.config/themes/*/preview-unlock.png
Pictures/
nixos/
nvidia-laptop-power-cfg/
Downloads/
Documents/
.cache/
.local/
.mozilla/
.config/nvim/lua/plugins/theme.lua
*.hm-bak
